* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body {
  font-family: 'Arial', sans-serif;
  height: 100vh;
  overflow: hidden;
}

.search-container {
  background:url("../assets/logg.png");
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-size: cover; 
  background-position: center; 
}

.app-container {
  margin-top: 500px;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
  max-width: 900px;
  margin-left: -120px;
}



form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input {
  padding: 10px;
  font-size: 16px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  width: 40%;
  margin-left: 50px;
}

button {
  padding: 8px;
  font-size: 16px;
  background-color: #323ee3;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  transition: background-color 0.3s ease;
}
button:hover{
  background: rgb(10, 27, 93);
}
button:disabled {
  background-color: #6c757d;
}

.error {
  color: red;
  margin-top: 10px;
}

.weather-container {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
}

.history-button {
  margin-top: 15px;
  padding: 10px 16px;
  font-size: 16px;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.history-button:hover {
  background-color: #131967;
}

.recent-searches {
  margin-top: 10px;
  width: 20%;
  margin-left: 335px;
  background-color: #d4dadf73;
  border-radius: 12px;
}


.recent-searches ul {
  list-style: none;
  padding-left: 0;
}


.recent-searches li {
  padding: 8px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}


